@{
    ViewData["Title"] = "Details Page";
}

<div class="text-center">
    <h1 class="display-4">Enter id product to search:</h1>
    <form method="post" action="~/Product/Details">
        <input type="number" name="id" />
        <input type="submit" value="Search" />
    </form>
</div>
