@model Matrix
@{
    ViewData["Title"] = "Matrix Input";
}

<h2>Input matrix elements:</h2>

@using (Html.BeginForm("Calculate", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Size)

    <h3>Matrix A</h3>
    <table>
        @for (int i = 0; i < Model.Size; i++)
        {
            <tr>
                @for (int j = 0; j < Model.Size; j++)
                {
                    <td>
                        <input type="number" step="any"
                               name="MatrixA[@(i* Model.Size + j)]" />
                    </td>
                }
            </tr>
        }
    </table>

    <h3>Matrix B</h3>
    <table>
        @for (int i = 0; i < Model.Size; i++)
        {
            <tr>
                @for (int j = 0; j < Model.Size; j++)
                {
                    <td>
                        <input type="number" step="any"
                               name="MatrixB[@(i* Model.Size + j)]" />
                    </td>
                }
            </tr>
        }
    </table>

    <br />
    <input type="submit" name="operation" value="Add" />
    <input type="submit" name="operation" value="Multiply" />
}
