@model app_hw.ViewModels.ChangePasswordViewModel

<h2>Смена пароля</h2>

<form asp-action="ChangePassword" method="post">
    <div>
        <label>Текущий пароль</label>
        <input asp-for="CurrentPassword" type="password" />
        <span asp-validation-for="CurrentPassword"></span>
    </div>
    <div>
        <label>Новый пароль</label>
        <input asp-for="NewPassword" type="password" />
        <span asp-validation-for="NewPassword"></span>
    </div>
    <div>
        <label>Подтвердите новый пароль</label>
        <input asp-for="ConfirmPassword" type="password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Сменить пароль</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
