@model User

@{
    ViewBag.Title = "Добавление пользователя";
}

<form asp-action="Create" asp-controller="Home" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Имя</label>
        <input type="text" asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label">Возраст</label>
        <input type="number" asp-for="Age" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Company"></label>
        <select class="form-control" asp-for="CompanyId">
            <option disabled selected>Выберите компанию</option>
            @foreach (Company company in ViewBag.Companies)
            {
                <option value="@company.Id">@company.Name</option>
            }
        </select>
    </div>

    <div class="col p-3"></div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
</form>
